.ele:nth-child(1){
    background: url("loc1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 700px;
    width:450px;
}
.ele:nth-child(2){
    background: url("loc2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 800px;
    width:400px
}
.ele:nth-child(3){
    background: url("loc3.jpg");
    background-repeat: no-repeat;
     background-size: cover;
     background-position:center;
     height: 600px;
     width:400px;
}
.ele:nth-child(4){
    background: url("loc4.jpg");
    background-repeat: no-repeat;
     background-size: cover;
     background-position:center;
     height: 400px;
     width:500px;
}